{{#foreach posts}}
<section id="{{id}}" class="{{post_class}}">

  <div class="post-title">
	<div class="date">
	  {{date published_at format='DD-MM-YYYY'}}
	</div>

	<a href="{{url}}">
	  <h3 class="title">
		{{title}}
		{{#if featured}}
		<i class="fa fa-star-o feature-star"></i>
		{{/if}}
	  </h3>
	</a>

	<div class="taglist">
	  {{tags separator=" " prefix=""}}
	</div>

	<p>
	  {{excerpt}}... <br/><a href="{{url}}" style="font-size: 1em; font-weight: normal" class="">Seguir leyendo</a>
	</p>

  </div>
</section>
{{/foreach}}
